.service {
  padding: 20px;
  border-radius: 10px;
}

h2 {
  margin-top: 0;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: ${backgroundColor};
  color: ${hovered ? backgroundColor : '#000'};
  transition: background-color 0.3s, color 0.3s;
}

.button-hover:hover {
  background-color: #000;
  color: #fff;
}