.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0) 67%, rgba(255,255,255,1) 100%);
  padding: 100px 0;

  @media(--lg) and (--md-min) {
    height: 550px;
  }

  @media(--md) {
    padding: 30px 0;
  }

  @media(--xs) {
    height: auto;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 900px;
  object-fit: cover;
  z-index: -1;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @media(--md) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  width: 100%;
  max-width: 550px;
}

.description {
  margin-top: 15px;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.aboutUsBtn {
  margin-left: 10px;
}

.image {
  max-width: 550px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  
  @media(--lg) {
    max-width: 360px;
  }

  @media(--md) {
    max-width: 400px;
    margin-bottom: 30px;
  }

  @media(--xs) {
    max-width: 350px;
  }
}