.footerCTA {
  background-color: #D52129;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

.footerCTA h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.footerCTA button {
  padding: 10px 25px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  min-width: 171px;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  transition: color 100ms ease-in-out, background-color 200ms ease-in-out;
  cursor: pointer;
}


.footerCTA button:hover {
  background-color: #eeeeee;
} 