.footerCTA {
  background-color: var(--red);
  padding: 50px 0;;
  text-align: center;
  margin: 20px 0;
}

.footerCTAcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--white);
}

.footerCTAbtn {
  margin-top: 30px;
  display: block;
}

.pawsLeft {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 200px;

  @media(--lg) {
    width: 150px;
  }

  @media(--md-min) {
    transform: translateY(-50%);
  }

  @media(--md) {
    width: 100px;
    top: 60%;
  }
}

.pawsRight {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 200px;

  @media(--lg) {
    width: 150px;
  }
  
  @media(--md-min) {
    transform: translateY(-50%);
  }

  @media(--md) {
    width: 100px;
    top: 60%;
  }
}