.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin: 15px 0;
}

.image {
  width: 100%;
  aspect-ratio: 1.4;
  object-fit: cover;

  .service:last-child &  {
    object-position: 0 30%;
  }
}

.pricing {
  margin-left: 20px;
}

.button {
  margin-top: 20px;
}
