.about {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.content {
  display: flex;
  justify-content: space-between;

  @media(--md) {
    flex-direction: column;
  }
}

.content:nth-of-type(2) {
  .img {
    @media(--md-min) {
      margin-right: 30px;
      margin-left: 0;
    }

    @media(--md) {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
}

.title {
  margin-bottom: 20px;
}

.img {
  width: 100%;
  object-fit: cover;
  
  @media(--md-min) {
    max-width: 550px;
    margin-left: 30px;
  }

  @media(--md) {
    object-position: 0 40%;
    aspect-ratio: 1;
    margin-top: 20px;
  }
}

.text {
  width: 100%;

  @media(--md-min) {
    max-width: 550px;
  }

  p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.paws {
  width: 80%;
  margin: 0 auto;
}

.p {
  text-indent: 30px;
}