.navbar {
  height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
}

.navbarContainer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.homeLink {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 10px;
}

.navbarLinks {
  display: flex;
  align-items: center;

  @media (--md) {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    background-color: white;
    flex-direction: column;
    border-bottom: 1px solid black;
  }
}

.navLink {
  text-decoration: none;
  font-size: 20px;
  
  @media(--md-min) {
    margin-left: 20px;
  }

  @media(--md) {
    margin-top: 20px;
  }

  &:last-child {
    @media(--md) {
      margin-bottom: 20px;
    }
  }
}

.logo {
  width: 80px;
}

.navbarOpen {
  @media (--md) {
    max-height: 326px;
  }
}

.navBurger {
  @media (--md-min) {
    display: none;
  }
}