.instagramFeed {
  margin-top: 100px;
}

.feedContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @media(--md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.post {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transition: background-color .5s ease;
  }

  &:hover {
    &::after {
      background-color: rgba(0,0,0,0.4);
    }
  }
}

.media {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.viewPost {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s ease;
  color: white;
  padding: 8px 12px;
  border: 2px solid var(--white);
  border-radius: 25px;
  z-index: 3;
  font-size: 18px;

  @media(--lg) and (--md-min) {
    font-size: 12px;
    padding: 6px 10px;
  }

  @media(--md) {
    display: none;
  }

  .post:hover & {
    opacity: 1;
  }
}