.testimonialsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.testimonials {
  margin-top: 50px;
  width: 100%;
  cursor: pointer;
  overflow: unset;
}

.testimonialsItem {
  padding: 0 20px;
}

.title {
  text-transform: uppercase;
}